site_name: Template pour la documentation d'un composant geOrchestra

repo_url: https://github.com/georchestra/georchestra_documentation_template
repo_name: georchestra-documentation

docs_dir: docs
edit_uri: edit/main/docs/


theme:
  language: en 
  features:
    # - toc.integrate
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
  logo: images/georchestra-logo-white.svg
  favicon: images/favicon.ico
  name: material

extra:
  version:
    provider: mike
  generator: false
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:psc@georchestra.org
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/georchestra
    - icon: fontawesome/brands/github
      link: https://github.com/georchestra
    - icon: fontawesome/brands/google
      link: https://groups.google.com/g/georchestra?hl=en
    - icon: fontawesome/brands/dev
      link: https://groups.google.com/group/georchestra-dev?hl=fr
    - icon: fontawesome/regular/comments
      link: https://matrix.to/#/#georchestra:osgeo.org


copyright: '© 2025 - geOrchestra'

extra_css:
    - css/extra.css

extra_javascript:
    - assets/custom_versions.js

# 1st and 2nd level tree structure to manage here
# These entries match the documentation template
# Here do not put .fr or .en in the name of the markdown: the i18n plugin manage this for you

nav:
    - Overview: index.md
    - Technical guide: technical_guide.md
    - Installation guide: installation_guide.md
    - Administration guide: administration_guide.md
    - Contribution: contribution.md
    - Documentation guide : documentation_guide.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

plugins:
  - search
  - callouts
  # - toc-md:
      # toc_page_title: Contents
      # toc_page_description: Summary of the section
      # header_level: 3
      # pickup_description_meta: false
      # pickup_description_class: false
      # output_path: tableofcontent.md
      # output_log: true
      # ignore_page_pattern: index.md
      # remove_navigation_page_pattern: index.md
      # template_dir_path: custom_template
  - exclude:
      glob:
        - tableofcontent.md
  - i18n:
        docs_structure: suffix
        fallback_to_default: true
        reconfigure_material: true
        reconfigure_search: true
        languages:
          - locale: en
            default: true
            name: English
            build: true
            site_name: "Documentation template for a geOrchestra component"
          - locale: fr
            name: Français
            build: true
            site_name: "Template pour la documentation d'un composant geOrchestra"
            nav_translations:
              Overview: "Présentation"
              Technical guide: "Guide technique"
              Installation guide: "Guide d'installation"
              Administration guide: "Guide d'administration"
              Contribution: "Contribution"
              Documentation guide: "Guide de documentation"


  - git-revision-date-localized:
      enable_creation_date: true
